{% if eigrp_config is defined %}
router eigrp {{ eigrp_config.AS_number }}
{% if eigrp_config.passive_interfaces is defined %}
{% for interface in eigrp_config.passive_interfaces %}
 passive-interface {{ interface }}
{% endfor %}
{% endif %}
{% for net in eigrp_config.networks %}
 network {{ net.ip }} {{ net.wildcard }}
{% endfor %}
{% if eigrp_config.redistribute is defined %}
{% if eigrp_config.redistribute.static is defined %}
{% if eigrp_config.redistribute.static %}
 redistribute static
{% endif %}
{% endif %}
{% if eigrp_config.redistribute.ospf is defined %}
{% for process in eigrp_config.redistribute.ospf.processes %}
 redistribute ospf {{ process.number }} metric {{ process.bandwidth }} {{ process.delay }} {{ process.reliability }} {{ process.load }} {{ process.mtu }}
{% endfor %}
{% endif %}
{% endif %}
!
end
{% endif %}